.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 2rem 0;
    gap: 5px;
}
.paginationItem button{
    font-size: 18px;
    border: none;
    background: none;
    cursor: pointer;
    font-weight: 700;
    font-style: italic;
}
.paginationPrev {
    margin-right: auto;
}
.paginationNext {
    margin-left: auto;
}
.paginationPrev button, .paginationNext button {
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
}
.paginationBtnActive {
    color: var(--secondary)
}
