.searchWrap {
    display: flex;
    margin-bottom: 15px;
    gap: 10px;
}
.searchForm {
    flex-basis: 50%;
}
.search {
    background: var(--primary);
    opacity: .8;
    display: flex;
    align-items: center;
    padding: 8px 16px;
}
.input {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    color: white;
}
.searchButton, .resetBtn {
    cursor: pointer;
    border: none;
    background: none;
}
.resetBtn {
    background: #ec5b5b;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
}
