:root {
    --primary: #474955;
    --secondary: #7EBC3C;
    --border-color: #E3E6EC;
}
*, *:before, *:after {
    box-sizing: border-box;
}
body {
    font: 500 13px/1.3 "Roboto", sans-serif;
    color: var(--primary);
}
.wrap {
    max-width: 1232px;
    margin: 20px auto;
    padding: 18px 0;
    background: #fff;
    box-shadow: 0px 4px 27px 0px rgba(230, 231, 234, 0.78);
}
.container {
    max-width: 1077px;
    margin: 0 auto;
}
table {
    border-collapse: collapse;
    width: 100%;
}
table td {
    padding: 14px 11px;
}
table th {
    padding: 19px;
}
.table-bordered td {
    border: 1px solid var(--border-color);
}
.table-bordered thead tr {
    background: var(--primary);
    color: white;
    font-size: 14px;
    box-shadow: 0px 4px 27px 0px rgba(230, 231, 234, 0.78);
}
